<h3>Posted by <%= @tweet.user.username %>:</h3>

<%= @tweet.content %>

<br><br>
<form action="/tweets/<%= @tweet.id %>/edit" method="GET">
<input type="submit" value="Edit Tweet" id="Edit Tweet">
</form>
<br>
<form action="/tweets/<%= @tweet.id %>" method="POST">
<input type="hidden" id="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Tweet" id="Delete Tweet">
</form>
<br><br>
<p><a href="/tweets">Back to tweet index</a></p>