<h1>Create New User Account</h1>
<form action="/signup" method="POST">
<p>Username: <input type="text" name="username"></p>
<p>Password: <input type="text" name="password"></p>
<p>Email: <input type="text" name="email"></p>
<input type="submit" name="Sign Up">
</form>